name: Python tests

# When to run this workflow
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
jobs:
    test:
        #use a fresh ubuntu machine
        runs-on: ubuntu-latest

        steps:
            #step1: Get the code
            - name: Checkout repository
              uses: actions/checkout@v4

            #step2: Setup Python
            - name: Set up Python 3.10
              uses: actions/setup-python@v5
              with:
                python-version: "3.10"

            #step3 Install dependencies
            - name: Install pytest
              run: |
                python -m pip install --upgrade pip
                pip install pytest

            #step4: Run tests
            - name: Run pytest
              run: |
                export PYTHONPATH=$PYTHONPATH:$(pwd)
                python -m pytest -v
